<li>
  <span [ngClass]="{'online-server': server.status === 0, 'offline-server': server.status === 1}">
    Server id = {{ server.id }}, name = {{ server.name }}, status = {{ getServerStatus(server.status) }}
  </span>
  <button
    *ngIf="server.status === 1"
    class="btn"
    (click)="onClickChangeStatus()"
  >Start
  </button>

  <button
    *ngIf="server.status === 0"
    class="btn"
    (click)="onClickChangeStatus()"
  >Shut down
  </button>

  <button
    class="btn"
    (click)="onClickRemoveServerById(server.id)"
  >X
  </button>
</li>
